* {
  box-sizing: border-box;
}

.auth-wrapper {
  display: flex;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: #f6fdf8;
}

/* LEFT */
.auth-left {
  flex: 1;
  padding: 80px;
}

.auth-left h1 {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
}

.auth-left h1 span {
  color: #22c55e;
}

.auth-left p {
  margin-top: 20px;
  color: #475569;
  max-width: 480px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.stats h3 {
  color: #0f172a;
}

.stats p {
  font-size: 14px;
  color: #64748b;
}

/* RIGHT */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #fff;
  padding: 40px;
  width: 380px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #64748b;
}

.auth-tabs .active {
  color: #0e7835;
  border-bottom: 2px solid #15873f;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #127c39;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn:hover {
  background: #16a34a;
}

.switch-text {
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
}

.switch-text span {
  color: #22c55e;
  cursor: pointer;
  font-weight: 600;
}
