body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100vh;
  background: linear-gradient(#f0f0f0, #f8f7f8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New', Courier, monospace;
}
